<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Registration</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h3 class="card-title">User Registration Form</h3>
                        <p class="card-text">
                        <form class="form" th:action="@{/registration}" th:object="${user}" method="POST">
                            <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
                               th:class="invalid-feedback">Incorrect data</div>

                            <div class="form-group" >
                                <label>Your Name</label>
                                <input class="form-control" type="text" th:field="*{name}" placeholder="Enter your name"
                                       th:classappend="${#fields.hasErrors('name')}? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="invalid-feedback">Incorrect data</div>
                            </div>

                            <div class="form-group" >
                                <label>Email</label>
                                <input class="form-control" type="email" th:field="*{email}" placeholder="Enter email"
                                       th:classappend="${#fields.hasErrors('email')}? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="invalid-feedback">Incorrect data</div>
                            </div>

                            <div class="form-group" >
                                <label>Password</label>
                                <input class="form-control" type="password" th:field="*{password}" placeholder="Enter password"
                                       th:classappend="${#fields.hasErrors('password')}? 'is-invalid'"/>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="invalid-feedback">Incorrect data</div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>